:root { /* muh variables :3 */
  --top-bar-size: 40px;
  --top-button-height: 30px;
  --border-color: rgb(148, 23, 23);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
}

h1 {
  color: black;
  text-align: center;
  margin-bottom: 15px;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: black;
  margin-bottom: 15px;
}

a {  
  color: blue;
  /* this is the thing for links */
}

#sidebar_left {
  overflow-y: auto;
  width: 180px; /* Set a reliable width */
  position: fixed;
  height: 1100%; 
  background: #f0f0f0;
  border-right: 1px #aaa solid;
  top: 0; /* Positioned directly under topbar */
  left: 0px;
  padding: 20px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
}

#sidebar_left h1 {
  font-size: 1.1em;
  text-align: left;
  margin-bottom: 10px;
}

#sidebar_left ul {
  list-style: square;
  padding-left: 20px;
}

#sidebar_left li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#sidebar_left a {
  color: #555;
  text-decoration: none;
}

#sidebar_left a:hover {
  text-decoration: underline;
}

#sidebar_left ul li img {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  #sidebar_left {
    display: none;  /* Hide sidebar on small screens */
  }
  .main-content {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  #sidebar_left {
    display: show;
  }
  .main-content {
    margin-left: 180px;  
  }
}

.main-content {
  margin-top: var(--top-bar-size);     /* Push below topbar */
  padding: 30px;
}


.emoji-line {
  word-break: break-all;
}



#topbar {
  height: var(--top-bar-size);
  background: #ddd;
  border-bottom: 1px #aaa solid;
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
}


.dropbtn {
  background-color: #740707;
  color: white;
  padding: 0 16px; 
  height: var(--top-button-height);
  font-size: 14px;
  border: 2px solid gray; 
  border-radius: 4px; /* optional: smooths corners */
  transform: translateX(5%); /* x position of dropdown buttons */
  transform: translateY(10%);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block; 
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-30%);  /* x position of dropdown menu relative to button */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1001; 
  border: 1px solid #aaa;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left; 
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e4c515;
}